<h2 class="dashboard-title">Resumen</h2>
<div class="row w-100 mx-0 mb-sm-3">
    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart chartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=638ba25e-c1f0-4842-8f46-73c30c21c4e8&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>
    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart chartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=639c97d0-5921-47e7-84c8-316eed0334a0&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 mx-0 mb-sm-3">

    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart chartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=638ba05b-a7e1-4d93-8cfe-f87bc9aabd9c&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>

    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart chartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=639c988c-6a1e-4aeb-8540-01ec7b235610&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 mx-0 mb-sm-3">

    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart smallChartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=638bb4b0-334f-463b-8bde-b8e83242eb29&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>

    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart smallChartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=639c95e8-097a-4efc-850f-c02023f75ed6&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>
    
    <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
        <div class="card chartContainer">
            <div class="card-body p-0">
                <iframe class="mongoChart smallChartHeight" src="https://charts.mongodb.com/charts-sea-world-hotel---proyect-xolwv/embed/charts?id=638b9544-c1f0-417f-8a59-73c30c17cdca&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
            </div>
        </div>
    </div>
</div>

<app-booking-reader></app-booking-reader>
<app-customer-reader></app-customer-reader>
<app-room-reader></app-room-reader>