extends template2

block Main
  // Main
  #main
    section.post
      header.major
        span.date
          img#logoSW(src='../images/logoSW.webp' alt='Sea World Hotel')
        h1 Nuestra Historia
        p Conoce m&aacute;s sobre la familia de Sea World Hotel
      .hSection
        a#historyImg.image.main(href='#historyImg')
          img(src='../images/photo01.webp' alt='Foto Hotel')
      p
        | Somos un empresa familiar que naci&oacute; a en el 2012. Estamos enfocados en brindar un servicio de excelencia. Las instalaciones del hotel son nuevas y cuentan con aire acondicionado, agua caliente, TV por cable y Wi-Fi. Tambi&eacute;n disponemos de garaje para tu coche.
      p
        | La c&aacute;lida playa de San Jacinto se encuentra a dos cuadras del hotel, donde podr&aacute;s disfrutar de un momento &uacute;nico con tu familia o amigos.
      p
        | Queremos que seas nuestro hu&eacute;sped y formes parte de la historia de este gran proyecto. Te invitamos a visitar Manab&iacute; y a recorrer sus hermosas playas.
      ul.actions.special
        li
          a.button.large(href='../#footer') &iexcl;Esperamos verte pronto!