<form class="mt-3 d-flex flex-column align-items-center" novalidate [formGroup]="resetForm" (ngSubmit)="handleReset()">
    <h4>Reestablecer contraseña</h4>
    <p class="mb-3">Ingresa la nueva contraseña.</p>
    <div class="p-0 row w-100 mx-0 mb-sm-3">
        <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
            <input type="password" class="form-control" id="password" name="password" formControlName="password"  placeholder="Nueva contraseña">
        </div>
    </div>
    <div class="p-0 row w-100 mx-0 mb-sm-3">
        <div class="p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0">
            <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword" formControlName="repeatedPassword" placeholder="Repite la nueva contraseña">
        </div>
    </div>
    <div class="p-0 row w-100 mx-0 mb-sm-3">
        <div class="ba-error p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0" *ngIf="
        (resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched) ||
        (resetForm.get('repeatedPassword')?.hasError('required') && resetForm.get('repeatedPassword')?.touched)
        ; else elseNotMatch">Todos los campos son requeridos</div>
        <ng-template #elseNotMatch>
            <div class="ba-error p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0" *ngIf="
            (resetForm.get('password')?.hasError('matching') && resetForm.get('password')?.touched) ||
            (resetForm.get('repeatedPassword')?.hasError('matching') && resetForm.get('repeatedPassword')?.touched)
            ; else passwordOk">Las contraseñas no coinciden</div>     
        </ng-template>
        <ng-template #passwordOk>
            <div class="ba-error p-0 d-flex justify-content-center col-sm mb-3 mb-sm-0"><br></div>
        </ng-template>
    </div>
    <button class="mb-3">Reestablecer contraseña</button>
</form>